[project]
name = "dir2md"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "rich>=14.2.0",
]

[project.scripts]
dir2md = "dir2md.main:main"